# Standard ignores
core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
.DS_Store

# Environment
venv/

# Ignore all data EXCEPT the small montage folder
data/*
!data/montage/

# Ignore all outputs EXCEPT the specific model and visualizations
out/*
!out/modeling/
!out/visualization/
out/modeling/*
!out/modeling/mildew_detector_model.keras
out/visualization/*
!out/visualization/*.png